* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-img {
    max-width: 200px;
    max-height: 200px;
}

#nav-bar {
    padding: 10px;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: #ccc;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}